@charset "utf-8";

.icon-arrow_upward:before {
    content: "\e5d8"
}

.icon-chat_bubble_outline:before {
    content: "\e0cb"
}

.icon-format_list_bulleted:before {
    content: "\e241"
}

.icon-format_list_numbered:before {
    content: "\e242"
}

.icon-close:before {
    content: "\e5cd"
}

.icon-search:before {
    content: "\e8b6"
}

.icon-chevron-down:before {
    content: "\e900"
}

.icon-chevron-left:before {
    content: "\e901"
}

.icon-chevron-right:before {
    content: "\e902"
}

.icon-chevron-thin-down:before {
    content: "\e903"
}

.icon-chevron-thin-left:before {
    content: "\e904"
}

.icon-chevron-thin-right:before {
    content: "\e905"
}

.icon-chevron-thin-up:before {
    content: "\e906"
}

.icon-chevron-up:before {
    content: "\e907"
}

.icon-mail:before {
    content: "\e90d"
}

.icon-menu:before {
    content: "\e908"
}

.icon-rss:before {
    content: "\e90a"
}

.icon-user:before {
    content: "\e90b"
}

.icon-vcard:before {
    content: "\e909"
}

.icon-sina-weibo:before {
    content: "\e90e"
}

.icon-facebook:before {
    content: "\e90f"
}

.icon-github:before {
    content: "\e910"
}

.icon-google:before {
    content: "\e911"
}

.icon-instagram:before {
    content: "\e912"
}

.icon-pinterest:before {
    content: "\e913"
}

.icon-tumblr:before {
    content: "\e914"
}

.icon-twitter:before {
    content: "\e915"
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0
}

html {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    font-family: 'Titillium Web', Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #414141;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility
}

body {
    background-color: #EBECEE
}

body.modal-active {
    overflow: hidden
}

@media (max-width: 680px) {
    body.modal-active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0
    }
}

body.z_menu-open .menu-phone {
    transform: translate3d(0, 0, 0)
}

.z-depth-0 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
}

.z-depth-1, .l_header, .menu-phone, .l_main .post, .m_widget {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.z-depth-2, .toc-wrapper {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)
}

.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)
}

.hoverable {
    transition: box-shadow .25s;
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

::-moz-selection {
    background: rgba(106, 184, 247, 0.7);
    color: #414141
}

::selection {
    background: rgba(106, 184, 247, 0.7);
    color: #414141
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    text-rendering: geometricPrecision;
    margin: 0 0 .4em 0
}

h1 {
    font-size: 1.8em
}

h2 {
    font-size: 1.6em
}

h3 {
    font-size: 1.4em
}

h4 {
    font-size: 1.2em
}

h5 {
    font-size: 1em
}

h6 {
    font-size: 1em
}

a {
    color: #414141;
    cursor: pointer;
    text-decoration: none;
    transition: all .24s ease
}

a:hover {
    text-decoration: none
}

pre {
    tab-size: 2;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    -webkit-tab-size: 2
}

img {
    max-width: 100%
}

.clearfix {
    zoom: 1
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none
}

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto
}

.vertical {
    display: table-cell;
    vertical-align: middle
}

.right {
    float: right
}

.left {
    float: left
}

.disable-trans {
    transition: none !important
}

.dark-btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    padding: 0 15px;
    font-size: 13px;
    font-family: 'Titillium Web', Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, "Microsoft YaHei", Arial, sans-serif;
    text-align: center;
    color: #c2c2c2
}

.dark-btn:hover {
    color: #f5f5f5;
    background-color: #009688
}

.dark-btn .icon {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    line-height: 44px
}

.dark-btn .text {
    vertical-align: middle;
    line-height: 44px
}

.txt-ellipsis, .toc-wrapper ol li, .m_widget ul.entry > li > a .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

ul, ol {
    padding-left: 0
}

li {
    list-style: none
}

.mark {
    position: relative
}

.mark a {
    display: inline-block;
    padding: 0 8px;
    color: #414141;
    border-left: 3px solid transparent;
    background: transparent;
    transition: all ease .24s
}

.mark a:hover {
    border-left-color: #2196f3;
    background: #f1f1f3
}

ul.h-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

ul.h-list > li {
    -ms-flex: none;
    flex: none
}

#loading-bar-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: visible;
    z-index: 99999
}

#loading-bar {
    position: relative;
    width: 0;
    height: 2px;
    background-color: #52b49d;
    transition: all .5s ease
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.container--flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center
}

.l_body {
    position: relative;
    padding: 40px 0 20px
}

@media (max-width: 820px) {
    .l_body {
        padding: 20px 10px 10px
    }
}

.reveal {
    visibility: hidden
}

.l_header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    background: #908d87;
    padding: 0 20px
}

.l_header .wrapper {
    transition: transform .2s ease-out
}

.l_header .wrapper.sub {
    transform: translateY(-50px)
}

.l_header .nav--main, .l_header .nav-sub {
    height: 50px
}

.l_header, .l_header a {
    color: #ffffff
}

.l_header .logo {
    -ms-flex: none;
    flex: none;
    padding: 0 20px;
    font-size: 1.3rem
}

.l_header .menu {
    position: relative;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 50px;
    transition: all .24s ease-out;
    margin: 0 28px
}

.l_header .menu ul > li > a {
    transition: all .24s ease-out;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 10px
}

.l_header .menu ul > li > a:hover, .l_header .menu ul > li > a.active {
    color: #ffffff
}

@media (max-width: 820px) {
    .l_header .menu {
        display: none
    }
}

.l_header .menu .underline {
    transition: all .15s ease-out;
    position: absolute;
    background: #ffffff;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px
}

.l_header .switcher {
    display: none;
    font-size: 1.3rem
}

.l_header .switcher > li {
    margin-left: 20px;
    transition: all .24s ease-out
}

.l_header .switcher > li svg {
    margin-top: 16px
}

@media (max-width: 820px) {
    .l_header .switcher {
        display: -ms-flexbox;
        display: flex
    }
}

.l_header .nav-sub .switcher {
    display: -ms-flexbox;
    display: flex
}

@media (max-width: 820px) {
    .l_header .m_search {
        width: 0;
        overflow: hidden;
        position: absolute;
        transition: all .24s ease-out;
        right: 0;
        top: 7px
    }

    .l_header.z_search-open .logo, .l_header.z_search-open .switcher {
        opacity: 0
    }

    .l_header.z_search-open .m_search {
        width: 100%
    }
}

.m_search {
    position: relative;
    height: 36px;
    width: 300px;
    line-height: 36px;
    vertical-align: middle
}

.m_search .form {
    position: relative;
    display: block;
    width: 100%
}

.m_search .icon, .m_search .input {
    transition: all .1s ease-out
}

.m_search .icon {
    position: absolute;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    top: 0;
    left: 10px
}

.m_search .input {
    display: block;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    width: 100%;
    color: #ffffff;
    padding: 5px 10px 5px 40px;
    height: 36px;
    line-height: 36px;
    font-family: 'Titillium Web', Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, "Microsoft YaHei", Arial, sans-serif;
    border: none;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    -webkit-appearance: none;
    box-shadow: none
}

.m_search .input:hover {
    background: rgba(255, 255, 255, 0.35)
}

.m_search .input:focus {
    color: #414141;
    background: #ffffff
}

.m_search .input:focus::-webkit-input-placeholder {
    color: #414141
}

.m_search .input:focus:-moz-placeholder {
    color: #414141
}

.m_search .input:focus::-moz-placeholder {
    color: #414141
}

.m_search .input:focus:-ms-input-placeholder {
    color: #414141
}

.m_search .input:focus ~ .icon {
    color: #414141
}

.m_search .input::-webkit-input-placeholder {
    color: #ffffff
}

.m_search .input:-moz-placeholder {
    color: #ffffff
}

.m_search .input::-moz-placeholder {
    color: #ffffff
}

.m_search .input:-ms-input-placeholder {
    color: #ffffff
}

.menu-phone {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    z-index: 9999;
    padding: 10px 0;
    line-height: 40px;
    background: white;
    border: 1px solid #e6e7e6;
    border-right: 0;
    transform: translate3d(280px, 0, 0);
    transition: all .24s ease
}

.menu-phone nav .nav {
    position: relative;
    display: block;
    color: #414141;
    font-size: .8125em;
    padding: 2px 20px;
    border-left: 3px solid transparent
}

.menu-phone nav .nav:hover {
    background: rgba(233, 234, 234, 0.6);
    border-color: #2196f3
}

.l_main {
    width: 100%;
    padding-right: 270px;
    float: left
}

.l_main .post-list {
    position: relative;
    margin: 0 auto;
    -webkit-columns: 400px;
    -moz-columns: 400px;
    columns: 400px;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    margin: -10px
}

@media (max-width: 820px) {
    .l_main .post-list {
        margin: 0
    }
}

.l_main #comments {
    position: relative;
    padding-top: 30px;
    background: white
}

@media (max-width: 820px) {
    .l_main #comments {
        padding-top: 20px
    }
}

.l_main .post-wrapper {
    column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column
}

.l_main .post-wrapper {
    padding: 10px
}

.l_main .post-wrapper .post {
    padding: 30px 20px
}

.l_main .post-wrapper .post .meta {
    margin-bottom: 20px
}

.l_main .post-wrapper .post .meta .title {
    font-size: 1.5rem
}

.l_main .post-wrapper .post .full-width {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% + 2 * 20px)
}

.l_main .post-wrapper .post .auto-padding {
    padding-left: 20px;
    padding-right: 20px
}

.l_main .post-wrapper .post img, .l_main .post-wrapper .post .highlight {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 2 * 20px);
    max-width: none
}

.l_main .post-wrapper .tags {
    margin-bottom: -30px
}

@media (max-width: 820px) {
    .l_main .post-wrapper {
        padding-left: 0;
        padding-right: 0
    }
}

.l_main .post {
    position: relative;
    margin: 0 auto;
    padding: 40px 30px;
    background: white
}

.l_main .post .meta {
    margin-bottom: 40px
}

.l_main .post .meta .title {
    left: 0;
    font-size: 2rem
}

@media (max-width: 820px) {
    .l_main .post .meta .title {
        font-size: 1.5rem
    }
}

.l_main .post .meta .title:before {
    content: none
}

.l_main .post .meta .title a {
    display: inline;
    line-height: 1.25;
    font-weight: normal;
    color: #464646
}

.l_main .post .meta .title a:hover {
    color: #2196f3
}

.l_main .post .meta time, .l_main .post .meta .cats {
    display: inline-block;
    font-size: .75rem
}

.l_main .post .meta .cats:before {
    display: inline-block;
    margin: 0 5px;
    content: '';
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #4caf98
}

.l_main .post .meta .cats a {
    font-weight: bold;
    color: #4caf98
}

.l_main .post .meta time {
    color: #b5b5b5
}

.l_main .post .full-width, .l_main .post .highlight {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100% + 3 * 20px);
    left: 0
}

.l_main .post img {
    max-width: 100%
}

@media (max-width: 820px) {
    .l_main {
        padding-right: 0
    }

    .l_main .post {
        padding: 30px 20px
    }

    .l_main .post .meta {
        margin-bottom: 20px
    }

    .l_main .post .meta .title {
        font-size: 1.5rem
    }

    .l_main .post .full-width {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% + 2 * 20px)
    }

    .l_main .post .auto-padding {
        padding-left: 20px;
        padding-right: 20px
    }

    .l_main .post img, .l_main .post .highlight {
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 2 * 20px);
        max-width: none
    }
}

#SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w {
    visibility: hidden
}

#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-main {
    background-image: none !important
}

.l_side {
    width: 250px;
    float: right;
    margin-left: -250px
}

@media (max-width: 820px) {
    .l_side {
        margin: 20px 0 0;
        width: 100%
    }

    .l_side .m_widget {
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1)
    }
}

#tagscloud {
    width: 250px;
    height: 260px;
    position: relative;
    font-size: 12px;
    text-align: center;
    display: none
}

#tagscloud a {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    margin: 0 10px 15px 0;
    line-height: 18px;
    text-align: center;
    padding: 1px 5px;
    display: inline-block;
    border-radius: 3px
}

#tagscloud a.tagc1 {
    background: #666;
    color: #fff
}

#tagscloud a:hover {
}

.toc-wrapper {
    position: fixed;
    top: 90px;
    right: 50%;
    margin-right: -600px;
    transition: all .24s ease-out;
    overflow: auto;
    max-height: calc(100% - 50px - 2 * 20px);
    width: 250px;
    z-index: 3;
    padding: 20px;
    border-left: 3px solid #4caf98;
    background: #ffffff
}

@media (max-width: 1200px) {
    .toc-wrapper {
        right: 0;
        margin-right: 0
    }
}

@media (max-width: 820px) {
    .toc-wrapper {
        right: -247px;
        margin-right: 0
    }

    .toc-wrapper.active {
        transform: translateX(-250px)
    }
}

.toc-wrapper a {
    display: inline-block
}

.toc-wrapper a:hover, .toc-wrapper a:active, .toc-wrapper a.active {
    color: #2196f3
}

.toc-wrapper ol.toc-child {
    padding-left: 20px
}

.toc-wrapper ol li {
    list-style: none;
    width: auto
}

.toc-wrapper:empty {
    display: none
}

.toc-wrapper {
    display: none
}

.toc-wrapper.active {
    display: block
}

.m_widget {
    background: #ffffff;
    margin-bottom: 20px
}

.m_widget .header {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 8px 20px;
    background: #908d87;
    color: white
}

.m_widget .header:before {
    content: '';
    margin-left: -10px;
    margin-right: 10px;
    color: #4caf98
}

.m_widget .content {
    border-top: 1px solid rgba(65, 65, 65, 0.1);
    padding: 10px 0
}

.m_widget ul.entry > li > a {
    padding: 0 20px;
    line-height: 36px;
    height: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center
}

.m_widget ul.entry > li > a .name {
    -ms-flex: auto;
    flex: auto;
    color: #696969
}

.m_widget ul.entry > li > a .badget {
    -ms-flex: none;
    flex: none;
    color: #828282
}

.m_widget ul.entry > li > a:hover {
    background: rgba(0, 0, 0, 0.08)
}

.m_widget.about .waves-effect, .m_widget.about img {
    width: 100%;
    display: block
}

@media (max-width: 820px) {
    .m_widget.about {
        display: none
    }
}

.m_widget.about .content {
    padding: 0
}

.m_widget.about .content .desc {
    position: relative;
    padding: 20px;
    background: #f7f7f7;
    transition: all .15s ease-out;
    line-height: 1.2em;
    font-style: italic
}

.m_widget.about .content .desc:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: #4caf98
}

.m_widget.about .content .desc:empty {
    padding: 0;
    height: 0
}

.m_widget.tagcloud .content {
    padding: 10px 20px
}

.m_widget.tagcloud .content a {
    display: inline-block;
    transition: all .1s ease-out;
    line-height: 1.6em
}

.m_widget.tagcloud .content a:hover {
    color: #2196f3 !important;
    text-decoration: underline
}

#archive-page {
    margin-bottom: 40px
}

#archive-page .archive {
    position: relative
}

#archive-page .archive .archive-year {
    font-size: 16px;
    margin: 10px 0
}

#archive-page .archive .archive-year a {
    color: #414141
}

#archive-page .archive .archive-post a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

#archive-page .archive .archive-post time {
    color: #414141;
    -ms-flex: none;
    flex: none;
    font-size: 12px;
    padding-right: 10px
}

#archive-page .archive .archive-post .title {
    -ms-flex: auto;
    flex: auto;
    font-size: 14px;
    color: #2196f3
}

.textarea-fw {
    color: #777 !important
}

.issue-wrap-gw {
    color: #777 !important
}

.article {
    color: #464646;
    font-size: 1rem;
    line-height: 1.6;
    word-break: break-all;
    word-wrap: break-word
}

.article em {
    position: relative
}

.article em:before {
    position: absolute;
    top: .65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: "・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・・"
}

.article img {
    position: relative;
    display: block;
    margin: 0 auto;
    background: white;
    transition: all .24s ease
}

@media (max-width: 820px) {
    .article img {
        box-shadow: none
    }
}

.article hr {
    border: 0;
    border-bottom: 1px solid #ddd
}

.article p.small-img img, .article div.small-img img {
    width: auto;
    max-width: 100%;
    margin: 0;
    box-shadow: none
}

.article p {
    margin: 20px 0
}

.article ul {
    padding-left: 20px;
    list-style: none;
    margin: 20px 0
}

.article ul > li::before {
    display: inline-block;
    margin: 0 5px;
    content: '';
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #4caf98
}

.article ol {
    padding-left: 20px;
    margin: 20px 0
}

.article ol > li {
    list-style: inherit
}

.article a {
    color: #1791f2
}

.article a:hover {
    color: #128ff2;
    background: rgba(33, 150, 243, 0.1)
}

.article a:active {
    background: rgba(33, 150, 243, 0.2);
    color: #ffffff
}

.article h1 {
    background: #908d87;
    left: 0
}

.article h2 {
    background: #908d87;
    opacity: .9;
    left: 5px
}

.article h3 {
    background: #908d87;
    opacity: .6;
    left: 15px
}

.article h4 {
    background: #908d87;
    opacity: .3;
    left: 20px
}

.article h5 {
    background: #908d87;
    opacity: 0;
    left: 25px
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    padding-left: 5px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    text-shadow: 2px 2px 3px #222222;
    position: relative;
    font-family: 'Titillium Web', Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", Source Han Sans CN Regular, WenQuanYi Micro Hei, "Microsoft YaHei", Arial, sans-serif;
    font-weight: normal;
    margin: 20px auto 10px
}

.article h1::before, .article h2::before, .article h3::before, .article h4::before, .article h5::before, .article h6::before {
    position: absolute;
    left: -20px;
    top: 0;
    color: #4caf98;
    font-weight: normal
}

.article h1.title, .article h2.title, .article h3.title, .article h4.title, .article h5.title, .article h6.title {
    left: 0
}

.article h1.title:before, .article h2.title:before, .article h3.title:before, .article h4.title:before, .article h5.title:before, .article h6.title:before {
    content: none
}

.article h1 + *, .article h2 + *, .article h3 + *, .article h4 + *, .article h5 + *, .article h6 + * {
    position: relative;
    left: 10px;
    padding-right: 10px
}

.article figure figcaption span {
    display: inline-block;
    margin-right: 5px
}

.article blockquote {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 0 20px;
    border-left: 4px solid #4caf50
}

.article blockquote footer strong {
    margin-right: 7px
}

.article pre {
    display: block;
    box-sizing: border-box;
    font-family: "Roboto Mono", Consolas, monospace, sans-serif
}

.article code {
    font-family: "Roboto Mono", Consolas, monospace, sans-serif;
    color: #4caf98;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    font-size: 1em;
    background: #f9f9fa;

    float: left;
    text-align: left;
}

.article .readmore {
    font-size: 1.2rem;
    margin-top: 20px
}

.article .readmore a {
    display: inline-block;
    vertical-align: middle;
    line-height: 2rem
}

.article .tags {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 20px;
    background: #f7f7f7;
    word-spacing: 10px
}

.article .tags.article-tags {
    background: transparent
}

.article .tags a {
    background: #4caf98;
    color: #fff;
    position: relative;
    display: inline-block;
    word-spacing: 0;
    border-radius: 15%;
    padding: 2px 10px;
    min-width: 50px;
    text-align: center;
    transition: all .1s ease-out
}

.article .tags a:hover {
    color: white;
    background: #2196f3
}

.article .tags a::before {
    content: ""
}

.article table:not('.highlight table') {
    width: 100%
}

.article table:not('.highlight table') td, .article table:not('.highlight table') th {
    padding: 12px 24px
}

.article table:not('.highlight table') tr {
    border-bottom: 1px solid #ddd
}

.article table:not('.highlight table') > thead > th {
    border-bottom-width: 2px
}

@media (max-width: 820px) {
    .article h1, .article h2, .article h3 {
        margin: 20px 0
    }

    .article h4, .article h5, .article h6 {
        margin: 10px 0
    }

    .article h1 {
        font-size: 1.5em
    }

    .article h2 {
        font-size: 1.4em
    }

    .article h3 {
        font-size: 1.3em
    }

    .article h4 {
        font-size: 1.2em
    }

    .article h5 {
        font-size: 1.1em
    }

    .article h6 {
        font-size: 1em
    }

    .article figure {
        font-size: 13px;
        line-height: 1.6em
    }
}

.tomorrow-comment, pre .comment, pre .title {
    color: #999999
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #f2777a
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #f99157
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #ffcc66
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #99cc99
}

.tomorrow-aqua, pre .css .hexcolor {
    color: #66cccc
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #6699cc
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
    color: #cc99cc
}

.highlight {
    width: 100%;
    margin: 20px 0;
    overflow: auto;
    display: block;
    background: #2d2d2d;
    color: #cccccc;
    font-size: .9rem;
    font-family: "Roboto Mono", Consolas, monospace, sans-serif;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px
}

.highlight .gutter {
    color: #999999;
    padding-right: 20px;
    text-align: right
}

.highlight .code {
    vertical-align: top
}

.highlight::-webkit-scrollbar {
    height: 6px;
    width: 6px
}

.highlight::-webkit-scrollbar-track-piece {
    background: transparent
}

.highlight::-webkit-scrollbar-thumb {
    background: #ccc;
    cursor: pointer;
    transition: all .2s ease-out
}

.highlight::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3
}

.art-item-footer {
    height: 40px;
    line-height: 40px
}

.art-item-footer .art-item-left, .art-item-footer .art-item-right {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.art-item-footer .art-item-left {
    float: left;
    text-align: left
}

.art-item-footer .art-item-right {
    width: 50%;
    float: right;
    text-align: right
}

#page-nav {
    position: relative;
    width: 100%;
    padding: 20px 0
}

#page-nav .page-number, #page-nav .space {
    display: none
}

#page-nav .next, #page-nav .prev {
    font-size: .8125em;
    font-weight: normal;
    color: #a7a7a7;
    border-radius: 2px
}

#page-nav .next:hover, #page-nav .prev:hover {
    color: #414141
}

#page-nav .next span, #page-nav .prev span {
    line-height: 20px;
    vertical-align: middle
}

#page-nav .next span.icon, #page-nav .prev span.icon {
    position: relative;
    top: 1px
}

#page-nav .next {
    float: right;
    padding: 0 7px 2px 10px
}

#page-nav .prev {
    float: left;
    padding: 0 10px 2px 7px
}

#u-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    z-index: 999999
}

@media (max-width: 680px) {
    #u-search {
        padding: 0
    }
}

#u-search .modal {
    position: fixed;
    height: 80%;
    width: 100%;
    max-width: 640px;
    left: 50%;
    top: 0;
    margin: 64px 0 0 -320px;
    background: #fff;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    z-index: 3
}

@media (max-width: 680px) {
    #u-search .modal {
        box-shadow: none;
        max-width: none;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%
    }
}

#u-search .modal .modal-ajax-content {
    opacity: 0;
    visibility: hidden;
    transition: all .36s
}

#u-search .modal .modal-ajax-content.loaded {
    opacity: 1;
    visibility: visible
}

#u-search .modal .modal-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #908d87;
    z-index: 3
}

#u-search .modal .modal-header .btn-close {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 18px;
    transition: all .24s;
    z-index: 2
}

#u-search .modal .modal-header .btn-close:hover {
    transform: rotate(90deg)
}

#u-search .modal .modal-header .modal-loading {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    z-index: 1
}

#u-search .modal .modal-header .modal-loading .modal-loading-bar {
    display: block;
    position: relative;
    width: 0;
    height: 100%;
    background: #6ab8f7;
    transition: width .24s
}

#u-search .modal .modal-header #u-search-modal-form {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2
}

#u-search .modal .modal-header #u-search-modal-form #u-search-modal-input {
    width: 100%;
    padding: 0 50px 0 40px;
    font-size: 15px;
    line-height: 50px;
    vertical-align: middle;
    color: #fff;
    border: none;
    background: transparent;
    transition: background-color .24s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none
}

#u-search .modal .modal-header #u-search-modal-form #u-search-modal-input:focus {
    background-color: #3c546a
}

#u-search .modal .modal-header #u-search-modal-btn-submit {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-top: 2px;
    background: transparent;
    border: none;
    width: 40px;
    height: 50px;
    vertical-align: middle;
    font-size: 20px;
    color: white;
    z-index: 2
}

#u-search .modal .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background: #fff;
    border-top: 1px solid #dadada
}

#u-search .modal .modal-footer .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 0
}

#u-search .modal .modal-footer .logo a {
    display: inline-block
}

#u-search .modal .modal-footer .logo.google img {
    height: 24px;
    margin-top: 13px
}

#u-search .modal .modal-footer .logo.baidu img {
    height: 22px;
    margin-top: 14px
}

#u-search .modal .modal-footer .logo img {
    position: relative;
    display: inline-block;
    width: auto;
    height: 18px;
    margin-top: 16px
}

#u-search .modal .modal-footer .modal-error {
    position: relative;
    float: left;
    vertical-align: middle;
    line-height: 50px;
    font-size: 13px;
    z-index: 1
}

#u-search .modal .modal-footer .modal-metadata {
    position: relative;
    float: left;
    vertical-align: middle;
    line-height: 50px;
    font-size: 13px;
    z-index: 1
}

#u-search .modal .modal-footer .nav {
    position: relative;
    display: block;
    float: right;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    color: #828282;
    cursor: pointer;
    z-index: 1
}

#u-search .modal .modal-footer .nav:hover {
    color: #414141
}

#u-search .modal .modal-footer .nav.btn-next {
    margin-left: 10px
}

#u-search .modal .modal-footer .nav .icon {
    font-size: 12px
}

#u-search .modal .modal-body {
    position: absolute;
    padding: 64px 40px 80px 40px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

@media (max-width: 680px) {
    #u-search .modal .modal-body {
        padding: 60px 20px 80px 20px
    }
}

#u-search .modal .modal-body .modal-results {
    list-style: none
}

#u-search .modal .modal-body .modal-results li {
    border-bottom: 1px solid #e6e8ea
}

#u-search .modal .modal-body .modal-results li:last-child {
    border-bottom: none
}

#u-search .modal .modal-body .modal-results .result {
    position: relative;
    display: block;
    padding: 15px 30px 15px 0;
    text-decoration: none
}

#u-search .modal .modal-body .modal-results .result:hover .digest, #u-search .modal .modal-body .modal-results .result:hover .icon {
    color: #414141
}

#u-search .modal .modal-body .modal-results .result .title {
    display: inline-block;
    max-width: 100%;
    color: #2196f3;
    font-size: 15px;
    font-weight: bold;
    background: #f1f8fe;
    padding: 1px;
    border-bottom: 1px solid #e6e8ea;
    margin-bottom: 2px;
    line-height: 110%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#u-search .modal .modal-body .modal-results .result .digest {
    display: block;
    font-size: 13px;
    line-height: 140%;
    color: #8e8e8e;
    transition: color .24s
}

#u-search .modal .modal-body .modal-results .result .digest em {
    font-weight: bold
}

#u-search .modal .modal-body .modal-results .result .icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    font-size: 11px;
    color: #828282
}

#u-search .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1
}

#footer {
    position: relative;
    padding: 20px;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    background: #414141
}

#footer .codename {
    color: #4caf98
}

#footer .social-wrapper {
    padding-top: 20px
}

#footer a {
    color: rgba(255, 255, 255, 0.8)
}

#footer a:hover {
    background: rgba(33, 150, 243, 0.1);
    color: #128ff2
}

#footer a.social {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 0 5px
}

#footer a.social:hover {
    background: transparent;
    color: #2196f3
}

#footer a.social.github:hover {
    color: #467cc2
}

#footer a.social.google:hover {
    color: #db4437
}

#footer a.social.twitter:hover {
    color: #55acee
}

#footer a.social.weibo:hover {
    color: #f8712a
}

.ant-timeline {
    list-style: none;
    margin: 0;
    padding: 0
}

ul > li.ant-timeline-item {
    position: relative;
    padding: 0 0 12px;
    list-style: none;
    margin: 0
}

ul.ant-timeline > li::before {
    border: 0 !important
}

.ant-timeline-item-tail {
    position: absolute;
    left: 5px;
    top: 0;
    height: 100%;
    border-left: 2px solid #e9e9e9
}

.ant-timeline-item-pending .ant-timeline-item-tail {
    display: none
}

.ant-timeline-item-head {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100px;
    border: 3px solid transparent;
    margin-top: 5px
}

.ant-timeline-item-head-blue {
    border-color: #2db7f5;
    color: #2db7f5
}

.ant-timeline-item-head-red {
    border-color: #f50;
    color: #f50
}

.ant-timeline-item-head-green {
    border-color: #87d068;
    color: #87d068
}

.ant-timeline-item-head-custom {
    position: absolute;
    text-align: center;
    width: 40px;
    left: -14px;
    line-height: 1;
    margin-top: 6px;
    border: 0;
    height: auto;
    border-radius: 0;
    padding: 3px 0;
    font-size: 12px;
    transform: translateY(-50%)
}

.ant-timeline-item-content {
    padding: 0 0 10px 24px;
    font-size: 14px;
    position: relative;
    top: -3px
}

.ant-timeline-item-last .ant-timeline-item-tail {
    border-left: 2px dotted #e9e9e9;
    display: none
}

.ant-timeline-item-last .ant-timeline-item-content {
    min-height: 48px
}

.ant-timeline.ant-timeline-pending .ant-timeline-item-last .ant-timeline-item-tail {
    display: block
}
